<div class="header">

    <span class="filler"></span>

    <a href="/logout" class="header-button">
        Logout
    </a>

    <a href="/login" class="header-button">
        Login
    </a>
</div>
<style>
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .filler {
        flex: 1;
    }

    .header-button {
        font-size: 1.4rem;
        font-family: sans-serif;
        letter-spacing: .1rem;
        background: #B63332;
        margin-left: 2rem;
        margin-bottom: 1.15rem;
        padding: 0 2rem;
        color: #fff;
        box-shadow: 0 0 20px 7px rgba(0, 0, 0, .05);
        transition: all .1s ease-in-out;
    }

</style>