<div class="header">

{{if .Authenticated}}
    <a href="/" class="header-button">
        Feedback list
    </a>

{{if .User.HasRole "admin"}}
    <a href="/users" class="header-button">
        Users
    </a>
{{end}}
{{end}}

    <span class="filler"></span>

{{if .Authenticated}}
    <a href="/logout" class="header-button" onclick="return logout()">
        Logout
    </a>
{{else}}
    <a href="/login" class="header-button">
        Login
    </a>
{{end}}
</div>
<style>
    body {
        margin: 0;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 3rem;
        box-sizing: border-box;
    }

    .filler {
        flex: 1;
    }

    .header-button {
        text-decoration: none;
        border: none;
        background-color: #B63332;
        color: white;
        padding: 0.5rem;
        line-height: 1rem;
        box-sizing: border-box;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
    }

</style>

<script>
    function logout() {
        localStorage.removeItem('token');
        return true;
    }
</script>